body {
    background: #121212;
}

.Link {
    transition: 0.25s;
}

.Link:link {
    color: #E0E0E0;
    text-decoration: none;
}

.Link:visited {
    color: #D0D0D0;
    text-decoration: none;
}

.Link:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.Link:active {
    color: #D0D0FF;
    text-decoration: none;
}

.Item {
    display: flex;
    flex-direction: column;
    background-color: #212532;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-width: 300px;
    
    border-radius: 10px;
    border-top: 2px solid #0D9737;
    border-right: 2px solid #0D9737;
    border-left: 2px solid #0D9737;
    border-bottom: 2px solid #0D9737;
}

.Item:hover {
    background-color: #252936;
    padding: 20px;
}

.Item__Name {
    font-size: 2em;
}

.Item__Price {
    font-size: 1.1em;
}

.Item__div {
    padding: 0;
    margin: 0;
}

.Item__List {
    padding: 25px;
}

.dark {
    background-color: #202020;
    color: #D0D0D0;
}

.dark:focus {
    background-color: #404040;
    color: #D0D0D0;
}

.font_style {
    font-family: 'Roboto', sans-serif;
}