body {
    background: #101010;
}


.Link {
    transition: 0.25s;
}

.Link:link {
    color: #E0E0E0;
    text-decoration: none;
}

.Link:visited {
    color: #D0D0D0;
    text-decoration: none;
}

.Link:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.Link:active {
    color: #D0D0FF;
    text-decoration: none;
}

.Item {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: thin;
    border-color: #DADCE0;
    border-radius: 10px;
    background-color: #404040;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    min-width: 300px;

    /* max-width: 700px; */
}

.Item__Name {
    font-size: 1.5em;
}

.Item__Price {
    font-size: 1.1em;
}

.Item__div {
    padding: 0;
    margin: 0;
}

.Item__List {
    padding: 25px;
}

.dark {
    background-color: #202020;
    color: #D0D0D0;
}

.dark:focus {
    background-color: #404040;
    color: #D0D0D0;
}